/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Roboto+Mono:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'quill/dist/quill.snow.css';
:host {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace !important;
    font-size: 14px;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    border: 1px solid;
}

div.mat-mdc-select-panel {
    background-color: white !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top: 1px solid !important;
    border-right: 1px solid !important;
  }
  .nav-tabs .nav-link {
  border: 1px solid black;
}
.nav-tabs {
    border-bottom: 1px solid;
}

#custom-accordion .card {
    background-color: white !important;
    border: 1px solid rgb(226, 209, 209);
   
  }
  #custom-accordion .card-body {
    background-color: white !important;
    
  }

  /* heading */
  #custom-accordion .btn { 
    text-decoration: none;
    color: black;
    font-weight: bold;
    font: 400 1.5rem / 2rem Roboto, sans-serif;
    padding: 0px;
    padding-bottom: 10px;
    font-size: 17px;
  }
  #custom-accordion .panel-heading{
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid lightgrey ;
    border-radius: 0 !important;
 
  }
  .accordion-toggle {
    display: flex;
  }


#custom-accordion .accordion-toggle[aria-expanded="true"]:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
}

#custom-accordion .accordion-toggle:after {
    content: '\f106';
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
}


.highlighted {
  background-color: yellow;
  font-weight: bold;
}

.highlight {
  background-color: yellow !important; 
}

.selected-highlight {
  background-color: gray !important; 
  transition: background-color 0.3s ease;
}

.nav-tabs  .nav-link{
  color: black;
}

.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: black !important;
}

.mdc-circular-progress__indeterminate-circle-graphic circle {
  stroke-width: 4% !important;
}

.ql-editor ol {
  padding-left: 0em !important;
}

.ql-container {
  height: auto !important;
  font-family: "Roboto Mono", monospace !important;
}
.ql-container.ql-snow {
  border: 0px solid !important;
}
.ql-toolbar.ql-snow {
  margin-right: 8px !important;
  border: 1px solid #dddddd !important;
  padding: 5px !important;
  width: fit-content !important;
}
.ql-editor li {
  padding-left: 0rem !important;
}
mark.searched-highlight {
  background-color: rgb(59 130 246 / 27%) !important;
  font-weight: bold;
}